<style>
    .social-easy-email-tab {
        width: 100%;
        padding: 90px 0px;
        background-color: #E7E7E7;
        position: relative;
    }
    .social-easy-email-tab .social-easy-email-all-tab {
        margin: auto;
        width: 90%;
        border-radius: 5px;
        background-color: white;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-email-header {
        margin: auto;
        width: 75px;
        height: 120px;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-email-header .social-easy-img-logo {
        width: 75px;
        height: 75px;
        margin-top: 20px;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-red-line {
        border: 2px solid #1E1E1E;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-email-body {
        text-align: center;
        padding: 10px 20px 20px 20px;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-email-body .social-easy-body-email {
        text-align: center;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-email-body p {
        font-size: 13px;
        margin: 7px 0px;
        line-height: 1.5 !important;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-email-body .social-easy-header-text {
        font-size: 20px;
        margin: 25px 30px;
    }
    .social-easy-email-tab .social-easy-email-all-tab .social-easy-email-body .social-easy-body-email .social-easy-key-rest{
        font-size: 25px;
        font-weight: bold;
        margin: 20px 0px 45px;
    }
</style>

<div class="social-easy-email-tab">
    <div class="social-easy-email-all-tab">
        <div class="social-easy-email-header">
            <img class="social-easy-img-logo" src="https://cdn.vectorstock.com/i/1000v/54/67/best-initial-letter-s-logo-design-graphic-download-vector-35165467.jpg" alt="Logo picture">
        </div>
        <div class="social-easy-red-line"></div>
        <div class="social-easy-email-body">
            <div class="social-easy-body-email">
                <p class="social-easy-header-text">
                    <strong>Ձեր գաղտնաբառն է՝</strong>
                </p>
            </div>
            <p className="social-easy-key-rest">{{password}}</p>
        </div>
    </div>
</div>